
/* 폰트 */
@font-face {
    font-family: 'nanum'; /*a name to be used later*/
    src: url('../assets/font/NanumBarunpenR.ttf'); /*URL to font*/
}
body {
    font-family: 'nanum';
}

/* 정렬 css */
.flex-menu-align {
    display: flex;
}

.flex-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* .book-container {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(2, 500px);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
} */

/* 로고 관련 */
.logo > a {
    text-decoration: none;
}
.logo > a:visited {
    text-decoration: none;
    color: black;
}

/* 폰트 관련 */
.pFont {
    font-size: 15px;;
}

.hFont {
    font-size: 21px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* 글 내용 관련 */
.line-height {
    line-height: 25px;
}

.contents-border {
    border: 2px solid black;
    padding: 40px 30px 40px 120px;
    margin: 20px;
    width: 250px;
}

/* .contents-width {
    width: 250px;
} */

.contents-padding {
    padding: 0px 0px 0px 100px;
}

.contents-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 박스 꾸미기 */
.border {
    border: 2px solid #d1d5db;
    border-radius: 5px;
    border-right: transparent;
    border-left: transparent;
    padding: 40px 30px;
    margin: 20px;
    width: 300px;
    background-color: #f9fafb;
    /* width: 100%; */
}

.round-border {
    border: none;
    border-radius: 9999px;
    padding: 40px 55px;
    background-color: #ede9fe;
}

/* 버튼 관련 */
.button {
    /* 버튼테두리 없애는 방법 */
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    font-size: 15px;
}

.hover-btn {
    font-style: bold;
}

.hover-btn > button {
    font-family: 'nanum';
}

/* 배경 꾸미기 */

.bgr-a {
    background-color: rgb(19, 67, 158);
    /* background-size: 700px; */
}

/* 구조 */
.footer {
    /* 화면 맨 아래에 고정하는 방법 */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2c9c9;
    color: white;
    text-align: center;
}

/* 애니메이션 */

/* 타임라인 */

.dot {
    margin: 40px;
    height: 18px;
    width: 18px;
    background-color: #191842;
    opacity: 60%;
    border-radius: 50%;
    display: inline-flex;
}

.line {
    margin: 0;
    border: none;
    background-color: #f3f4f6;
    opacity: 60%;
    height: 100px;
    width: 5px;
    border-radius: 8px;
    display: inline-flex;
}

.content-a {
    white-space: nowrap;
    margin: 0px 0px 0px 50px;
}

.content-b {
    white-space: nowrap;
    margin: 0px 0px 0px 30px;
}