
/* 정렬 css */
.flex-menu-align {
    display: flex;
}

.flex-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-menu-align {
    display: flex;
}


/* 폰트 관련 */
.pFont {
    font-size: 15px;;
}

.hFont {
    font-size: 21px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* 글 내용 관련 */
.line-height {
    line-height: 25px;
}

.contents-border {
    border: 2px solid black;
    padding: 40px 30px 40px 120px;
    margin: 20px;
    width: 250px;
}

.contents-width {
    width: 600px;
}

.contents-padding {
    padding: 0px 0px 0px 100px;
}

.contents-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 박스 꾸미기 */
.border {
    border: 2px solid black;
    padding: 40px 30px 40px 30px;
    margin: 20px;
    width: 800px;
}

/* 버튼 관련 */
.button {
    /* 버튼테두리 없애는 방법 */
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    font-size: 15px;
}

.hover-btn {
    font-style: bold;
}


/* 구조 */
.footer {
    /* 화면 맨 아래에 고정하는 방법 */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2c9c9;
    color: white;
    text-align: center;
}